.b-about
	.container
		h3._title Об организаторах
		ul._list
			li._li
				._header
					include voda-gov
				._content Федеральное агентство водных ресурсов России (Росводресурсы) — федеральный орган исполнительной власти, находящийся в ведении Министерства природных ресурсов и экологии Российской Федерации. Основные задачи, решаемые агентством — это устойчивое водопользование при сохранении водных экосистем, а также предупреждение и ликвидация вредного воздействия вод. Деятельность Росводресурсов направлена на:
					
					ul._content-list
						- var list = ['обеспечение потребностей в водных ресурсах населения и объектов экономики', 'сохранение и улучшение экологического состояния водных объектов', 'обеспечение работы водохранилищ', 'предоставление прав пользования водными объектами', 'обеспечение безопасности населения и объектов экономики от потопов и наводнений']
							each item in list
								li._content-li= item
				._footer
					| Подробнее об организации - 
					a.link(href='http://voda.mnr.gov.ru/' target='_blank') http://voda.mnr.gov.ru/
					
			li._li
				._header
					include ecamir
				._content
					| Движение ЭКА — межрегиональная экологическая общественная организация, которая действует с 2010 года.
					br
					| Движение ЭКА ставит своей целью массовое экологическое просвещение, призванное вовлечь как можно больше людей в деятельную заботу о природе и о снижении своего экологического следа. Среди направлений деятельности ЭКА — реализация масштабных программ и проектов по экологическому просвещению детей, молодежи и взрослых, формирование ответственного обращения с отходами; защита экологических прав граждан, лесовосстановление и другие. 
				._footer
					| Подробнее об организации - 
					a.link(href='http://ecamir.ru/' target='_blank') http://ecamir.ru/
