.b-album
	.container
		h2._title.h2 ФОТОАЛЬБОМ ПРОЕКТА
	._container.container
		._scroll
			ul._list
				- var n = 1
				while n <= 6
					li._li
						img._img(src='/img/album-' + n + '.png')
					- n++
