.b-counter
	._title уже проводят уроки
	._value
		- var n = 5
		while n > 0
			span 0
			- n--
	._buttons
		ul._buttons-list
			li._buttons-li
				a.btn(class='_red' href='https://ecoclass.me/lk/lessons/50/' target='_blank') Провести урок
			li._buttons-li
				a.btn(class='_blue' href='https://ecoclass.me/lk/lessons/50/' target='_blank') Получить диплом
