.b-feedback
	ul._list
		li._li
			button.btn(type='button' class='_blue _icon' onclick='popup.classList.add("_popup")')
				.btn_icon.ifnt-question
				.btn_text Задать нам вопрос
		li._li
			button.btn(type='button' class='_red _icon')
				.btn_icon.ifnt-plus
				a.btn_text(href='https://ecoclass.me/lk/lessons/50/' target='_blank') Присоединиться
