.b-invite
	.container._container
		._content
			._title.h2 Учителя, родители
				br
				| и волонтеры!
			._text.
				Приглашаем вас провести экологический урок, посвященный знакомству школьников с элементами профессиональной деятельности в сфере водного хозяйства. На уроке ребята узнают о востребованных специальностях, чтобы сделать осознанный выбор будущего дела жизни. 
			img._img(src='/img/invite.svg')
			._counter
				include counter
			._text.
				Всероссийский просветительский проект «Дар воды. Водные профессии» реализует по инициативе #[a.link(href='http://voda.mnr.gov.ru/') Федерального агентства] водных ресурсов при поддержке #[a.link(href='http://ecamir.ru/') Движения ЭКА].
			ul._organizers-list
				li._organizers-li
					._organizers-content._voda-gov
						include voda-gov
				li._organizers-li
					._orgaizers-content._ecamir
						include ecamir
