.b-join
	.container
		h2._title.h2 Как присоединиться?
		ul._list
			-
				var list = [
					'Нажмите кнопку <b>«Провести урок»</b>, зарегистрируйтесь и скачайте материалы. Ваша школа появится на карте проекта.',
					'<b>Проведите увлекательный урок</b> и расскажите о нем коллегам.',
					'<b>Получите диплом участника</b> общероссийского проекта и благодарность в адрес школы.'
					]
			each item, i in list
				li._li
					._card
						img._card-img(src='/img/step-' + (i+1) + '.svg')
						._card-content
							div
								._card-title шаг !{i +  1}
								._card-text !{item}
		._counter
			include counter
