- 
	var
		categories = ['3–5 классы', '5–8 классы', '9–11 классы'],
		list1 = [
			'методический гид',
			'анимированная презентация',
			'карточки для игры',
			'карманная книжка',
			'4 видеоролика'
		],
		list2 = [
			'методический гид',
			'анимированная презентация',
			'карточки для игры',
			'3 видеоролика',
			'тестовые задания'
		],
		list3 = [
			'методический гид',
			'анимированная презентация',
			'задания для игрового квеста'
		]


.b-materials
	.container
		._content
			._description
				h2._title Мы подготовили для вас материалы для проведения занятий в двух форматах:
				._formats
					ul._formats-list
						li._formats-li 
							._formats-text Для урока в классе
						li._formats-li 
							._formats-text Для дистанционного урока
					ul._btns-list
						li._btns-li
							a._btn(href='https://ecoclass.me/lk/lessons/50/' class='_red') провести урок
						li._btns-li
							a._btn(href='https://ecoclass.me/lk/lessons/50/' class='_blue') Получить диплом
			._table
				input(type='radio' name='materials' id='materials-1' checked)
				input(type='radio' name='materials' id='materials-2')
				input(type='radio' name='materials' id='materials-3')
				._table-header
					each item, i in categories
						label._table-tab(for='materials-' + (i + 1))
							._table-tab-text !{item}
				._table-body
					._table-body-list
						._table-body-li
							._table-body-content
								._table-content-description.
									Ученики начальной школы познакомятся с рядом профессий, которые помогают обеспечивать нас чистой водой, оберегают воду от загрязнения, а людей — от связанных с водой опасностей. С помощью игры «Нужен специалист» ребята научатся распознавать ситуации, когда нужна помощь того или иного водного специалиста.
								._table-content-title Комплект материалов:
								ul._table-content-list
									each item, i in list1 
										li._table-content-li
											._table-content-card
												img._table-content-img(src='./img/materials-' + (i + 1) + '.svg')
												._table-content-text !{item}
						
						._table-body-li
							._table-body-content
								._table-content-description.
									Ученики средних классов узнают о вызовах в обеспечении людей водой и необходимых мерах для создания эффективной системы управления водной стихией. Ребята смогут закрепить свои знания с помощью теста на портале водныепрофессии.рф.
								._table-content-title Комплект материалов:
								ul._table-content-list
									each item, i in list2 
										li._table-content-li
											._table-content-card
												img._table-content-img(src='./img/materials-' + (i + 5 + 1) + '.svg')
												._table-content-text !{item}
						._table-body-li
							._table-body-content
								._table-content-description.
									Старшеклассникам предлагается пройти игровой квест, выполняя различные задания: создать видеоролик о способах сбережения воды и плакат социальной рекламы, исследовать природный водоем и другие.
								._table-content-title Комплект материалов:
								ul._table-content-list
									each item, i in list3 
										li._table-content-li
											._table-content-card
												img._table-content-img(src='./img/materials-' + (i + 10 + 1) + '.svg')
												._table-content-text !{item}
