.b-materials
	.container
		._content
			._description
				h2._title Мы подготовили для вас материалы для проведения занятий в двух форматах:
				._formats
					ul._formats-list
						li._formats-li 
							._formats-text Для урока в классе
						li._formats-li 
							._formats-text Для дистанционного урока
					ul._btns-list
						li._btns-li
							a._btn(href='https://ecoclass.me/lk/lessons/50/' class='_red') провести урок
						li._btns-li
							a._btn(href='https://ecoclass.me/lk/lessons/50/' class='_blue') Получить диплом
			._table
