.b-results
	.container
		._content
			._img
				img(src='./img/results.svg')
			._text
				._title Благодаря уроку ребята:
				ul._list
					-
						var list = [
							'узнают о водных ресурсах своего региона <br class="br _lg"> и всей России',
							'познакомятся с устройством водного <br class="br _lg"> хозяйства нашей страны',
							'изучат ряд профессий, связанных с управлением <br class="br _lg"> водой',
							'выяснят, какие существуют способы бережного <br class="br _lg"> использования воды',
							]
					each item in list
						li._li
							._li-text !{item}
