.b-socials
	._title поддержите нас в соцсетях:
	ul._list
		-
			var list = [
				{name: 'vk', link: '//vk.com/ecoschools'},
				{name: 'fb', link: '//www.facebook.com/ecoclassrf/ '},
				{name: 'ok', link: '//ok.ru/group/57724449783860 '},
				{name: 'yt', link: '//www.youtube.com/channel/UCop1Z2nOXY_h8ukKOyn9Xlg'}
			]
		each item in list
			li._li
				a._icon(class='_' + item.name href=item.link)
					._icon-text #{item.name}
