.b-welcome
	._main
		.container
			._socials-top
				include socials
				include feedback
				
			._text Всероссийский экологический урок
			h1._title.h1
				| Дар воды.
				br
				| Водные
				br
				| профессии
			._text для школьников 3–11-х классов
		._date-container.container
			._date.btn(class='_blue _icon')
				.btn_icon
				.btn_text 20 сентября – 15 декабря 2020 года
	._socials-bottom
		include socials
		include feedback
