.welcome {
	&_main {
		display: flex;
		flex-direction: column;
		padding-top: 400px;
		color: #fff;
		background: url(../img/header.png) no-repeat center / cover;
		margin-top: -56px;
	}
	
	&_title {
		align-self: flex-start;
		padding: 2px 0;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		margin: 4px 0;
	}
	
	&_date-container {
		margin-top: 25px;
	}
	
	&_date.btn {
		display: flex;
		text-align: center;
		
		.btn_icon {
			width: 48px;
			
			&::before {
				width: 22px;
				height: 22px;
				content: '';
				background-image: svg-load('fnt/date.svg');
			}
		}
		
		.btn_text {
			padding: 14px;
			font-family: Montserrat;
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 16px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
		}
	}
	
	&_socials-bottom {
		padding-top: 28px;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 260px;
		margin-left: auto;
		margin-right: auto;
		
		.socials {
			flex-direction: column;
			margin-bottom: 28px;
			
			&_title {
				margin-bottom: 20px;
			}
		}
		
		.feedback {
			&_li {
				&:not(:last-child) {
					margin-bottom: 24px;
				}
				
				.btn {
					width: 100%;
				}
			}
			
			.btn_text {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
	
	&_scroll {
		position: relative;
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 28px;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 16px;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		border: 1px solid rgba(#C4C4C4, 0.5);
		cursor: pointer;
		
		&::before,
		&::after {
			position: absolute;
			top: 50%;
			width: calc(100vw -  50%);
			height: 1px;
			content: '';
			background: rgba(#C4C4C4, 0.5);
		}
		
		&::before {
			right: 100%;
		}
		
		&::after {
			left: 100%;
		}
	}
	
	&_scroll-icon {
		margin-right: 15px;
		
		&::before {
			width: 14px;
			height: 22px;
			content: '';
			background-image: svg-load('fnt/mouse.svg');
		}
	}
	
	@media (@sm) {
		font-size: 20px;
		line-height: 24px;
		
		&_main {
			padding-top: 28px;
			padding-bottom: 24px;
			background-size: auto 110%;
			margin-top: 0;
		}
		
		&_socials-top {
			display: flex;
			justify-content: space-between;
			padding-bottom: 280px;
			
			.socials {
				flex-direction: column;
				
				&_title {
					margin-bottom: 12px;
				}
				
				&_icon {
					color: #fff;
				}
			}
			
			.feedback {
				&_li:not(:last-child) {
					margin-bottom: 16px;
				}
				
				.btn {
					width: 100%;
					
					&_text {
						font-size: 14px;
						line-height: 16px;
					}
				}
			}
		}
		
		&_title {
			margin: 20px 0;
		}
		
		&_date-container {
			margin-top: 32px;
			margin-bottom: 50px;
		}
		
		&_date.btn {
			padding-right: 28px;
			align-self: flex-start;
			background: svg-load('date-bg.svg') center / 100% 100%;
			
			.btn_icon {
				width: 50px;
			}
			
			.btn_text {
				font-size: 18px;
				line-height: 22px;
			}
		}
		
		&_socials-bottom {
			display: none;
		}
	}
	
	@media (@md) {
		&_main {
			padding-bottom: 28px;
			background-size: 150% auto;
			background-position: 15% 15%;
		}
		
		&_socials-top {
			padding-bottom: 50px;
			
			.feedback {
				&_list {
					display: flex;
					flex-direction: row;
				}
				
				&_li {
					&:not(:last-child) {
						margin-bottom: 0;
						margin-right: 12px;
					}
				}
			}
		}
		
		&_date-container {
			margin-bottom: 70px;
		}
	}
	
	@media (@lg) {
		&_main {
			background-position: center;
			background-size: cover;
		}
		
		&_container,
		&_date-container {
			max-width: none;
			padding-left: 60px;
			padding-right: 48px;
		}
		
		&_socials-top {
			padding-bottom: 212px;
			
			.socials {
				flex-direction: row;
				align-items: center;
				
				&_title {
					margin-bottom: 0;
					margin-right: 36px;
				}
				
				&_list {
					width: 230px;
				}
			}
		}
	}
	
	@media (@smx) {
		&_socials-top {
			display: none;
		}
		
		&_date-container {
			padding: 0;
		}
		
		&_scroll {
			display: none;
		}
	}
}
