@import 'template/index';

:root {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 180%;
	color: #1F1F1F;
	
	@media (@sm) {
		font-size: 18px;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	color: #fff;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	transition: .2s;
	
	&._red {
		background: #D1001B;
	}
	
	&._blue {
		background: #006DC3;
	}
	
	a&,
	button&,
	input& {
		&:enter {
			box-shadow: 0px 8px 0px -4px rgba(0, 0, 0, 0.15);
			cursor: pointer;
		}
	}
}

.h2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 900;
	font-size: 22px;
	line-height: 140%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	
	@media (@sm) {
		font-size: 40px;
	}
	
	@media (@lg) {
		font-size: 48px;
	}
}

.link {
	color: #006DC3;
	text-decoration: underline;
	
	&:enter {
		text-decoration: none;
	}
}

#map {
	height: 372px;
	background: url(/img/map-placeholder.jpg) no-repeat center / cover;
	
	@media (@sm) {
		height: 575px;
	}
	
	@media (@md) {
		height: 676px;
	}
	
	@media (@lg) {
		height: 810px;
	}
}

.br {
	@media (@lgx) {
		&._lg {
			display: none;
		}
	}
}

@import 'blocks/counter';
@import 'blocks/invite';
@import 'blocks/results';
@import 'blocks/rich-country';
@import 'blocks/join';
@import 'blocks/about';
@import 'blocks/organizer';
@import 'blocks/footer';
